#game-display,
#reset-game,
#choose-word {
  display: none;
}

#letters-display {
  letter-spacing: 1em;
  font-size: 2em;
  margin: 50px 0;
}

h1 {
  text-align: center;
}

form {
  width: 330px;
  text-align: center;
  margin: 5rem auto;
}

input[type="text"] {
  width: 100%;
}

#start-button {
  text-align: center;
}

#game-status {
  position: relative;
  height: 6rem;
  width: 330px;
  margin: auto;
}

.error {
  color: #ffcccc;
}

.success {
  color: #ccffcc;
}

.info {
  color: #ccccff;
}

.game-end {
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
}

#misses-display {
  height: 4rem;
}
